{% extends 'base/index.html' %}
{% load custom_filters %}

{% load static %}

{% block content %}

{% include 'base/carousel.html' %}
<!-- About Start -->
<div class="container-xxl about-section py-5">
    <div class="row align-items-center">
        <!-- Image Grid -->
        <div class="col-md-6">
            <div class="row image-grid">
                <div class="col-6 mb-3">
                    <img src="{% static 'img/a4.jpg' %}" class="img-fluid" alt="Image 4"  style="width: 400px;height: 300px";>
                    
                </div>
                <div class="col-6  mt-5">
                    <img src="{% static 'img/a2.png' %}" class="img-fluid" alt="Image 2" style="width: 350px;height: 200px;">
                </div>
                <div class="col-6 mb-3 mt-2">
                    <img src="{% static 'img/a3.jpg' %}" class="img-fluid" alt="Image 3"  style="width: 350px;height: 200px;">
                </div>
                <div class="col-6 mb-3">
                    <img src="{% static 'img/a1.jpg' %}" class="img-fluid" alt="Image 1" style="width: 400px;height: 300px;">                </div>
            </div>
        </div>

        <!-- Text Content -->
        <div class="col-md-6">
            <h4 class="about-heading mb-4">About Us</h4>
            <h3 class="mb-4 underlined-heading mt-2 ">Alps Green Mart</h3>
            <p class="about-text text-muted mb-4" style="font-size: 1.1rem; line-height: 1.7;">
                At **Alps Green Mart**, we bring nature's finest treasures right to your doorstep. Specializing in premium spices, herbs, and teas, we pride ourselves on offering products that embody the purity, flavor, and essence of nature.
                <br><br>
                
                <strong>Why Choose Us?</strong>
                <ul>
                    <li><strong>Authentic Quality:</strong> Every product is carefully selected, ensuring unmatched freshness and taste.</li>
                    <li><strong>Sustainable Practices:</strong> We work with eco-conscious growers who share our commitment to sustainability and ethical sourcing.</li>
                    <li><strong>Worldwide Shipping:</strong> Wherever you are, we ensure that our products reach you with the same care and quality as they leave our facilities.</li>
                    <li><strong>Customer-Centric Service:</strong> Your satisfaction is our priority, and we go above and beyond to exceed your expectations.</li>
                </ul>
                <br>
                <strong>Our Vision</strong>
                <p>
                    We aim to make Alps Green Mart a household name synonymous with trust, quality, and authenticity. As we grow, we remain steadfast in our mission to promote health, wellness, and flavorful experiences through our products.
                </p>
                <br>
                <strong>Join the Alps Green Mart Family</strong>
                <p>
                    Discover the joy of nature’s finest products with worldwide delivery and a legacy of excellence. Whether you're a tea enthusiast, a culinary artist, or simply someone who values high-quality ingredients, Alps Green Mart has something special for you.
                </p>
            </p>
        </div>
    </div>
</div>



<!-- About End -->

<!-- Article Start -->
<div class="container-xxl py-5" data-aos="fade-up">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5">
                <img class="img-fluid" src="{% static 'img/article.jpg' %}" alt="">
            </div>
            <div class="col-lg-6" >
                <div class="section-title">
                    <h1 class="display-6">Premium Tea Leaves</h1>
                </div>
                <h3 class="mb-4">
                    Our premium tea collection offers the finest blends from renowned tea gardens worldwide. Handpicked leaves ensure exceptional freshness and flavor, whether it's bold black tea, soothing green tea, or delicate herbal blends. Crafted with care and sustainable practices, every sip promises a luxurious, high-quality tea experience.                </h3>
          
            </div>
        </div>
    </div>
</div>

    <div class="container-xxl py-5 px-5 c1-section" data-aos="fade-up" data-aos-duration="2500">
        <div class="row align-items-center">
            <!-- Text Section -->
            <div class="col-md-6" data-aos="fade-right"
                data-aos-offset="320"
                data-aos-easing="ease-in-sine">
                <h1 class="display-5 fw-bold">PREMIUM <br> SPICE AND HERBS</h1>
                <p class="text-muted" style="font-family: 'Roboto', sans-serif; font-size: 1.1rem; line-height: 1.8;">
                    Step into the world of pure indulgence with our premium spices and herbs, harvested from the misty hills of Idukki, Kerala. A land where nature’s bounty thrives, offering an unparalleled aroma and flavor in every pinch.
                </p>
                <p class="text-muted" style="font-family: 'Roboto', sans-serif; font-size: 1.1rem; line-height: 1.8;">
                    From the bold, peppery heat of black pepper to the sweet, floral notes of cardamom, every spice in our collection tells a story of authenticity and passion. Handpicked by expert farmers, our spices bring the heart of Kerala's rich culinary heritage straight to your kitchen.
                </p>
                <!-- View Gallery Button -->
                <a href="/gallery" class="btn btn-success mt-3 rounded-pill py-3 px-5" style="font-family: 'Roboto', sans-serif; font-size: 1rem;">View Gallery</a>
            </div>
    
            <!-- Image Section with Carousel -->
            <div class="col-md-6 text-center c1-image" 
                data-aos="fade-up">
                <div id="spiceCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!-- Carousel Indicators -->
                    
                    <!-- Carousel Images -->
                    <div class="carousel-inner">
                        <div class="carousel-item active ms-5">
                            <img src="{% static 'img/tea-cup-with-mint-cinnamon-dried-herbs-lime-grungy-blue-surface-top-view.png' %}" class="d-block w-100" alt="Spices Slide 1">

                        </div>
                        
                        <div class="carousel-item ">
                            <img src="{% static 'img/modern-helathy-ingredients-composition.png' %}" class="d-block w-100" alt="Spices Slide 2">

                        </div>
                        <div class="carousel-item ">
                            <img src="{% static 'img/top-view-various-indian-spices-seasonings-table.png' %}" class="d-block w-100" alt="Spices Slide 3">
                        </div>
                    </div>
    
                    <!-- Carousel Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#spiceCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#spiceCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
<!-- Article End -->

 
<!-- Special Offers Section -->
<div class="container-xxl" id="itemslider">
    <div class="section-title text-center mx-auto" style="max-width: 500px;">
        <h1 class="text-muted" style="font-family: 'Roboto', sans-serif; font-size: 1.8rem;">Offers</h1>
    </div>
    <div id="offerCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="d-flex flex-row flex-wrap justify-content-center">
                {% for offer_product in offer_products %}
                    <div class="offer-product shadow-sm mx-2 mb-4" style="width: 18rem;">
                        <a href="{% url 'product_detail' offer_product.product.slug %}" class="text-decoration-none text-dark">
                            <!-- Product Image with Discount Badge -->
                            <div class="image-container position-relative">
                                {% if offer_product.product.product_image %}
                                    <img class="img-fluid" src="{{ offer_product.product.product_image.url }}" alt="{{ product.product.title }}">
                                {% else %}
                                    <img class="img-fluid" src="/static/images/default-product.jpg" alt="No Image Available">
                                {% endif %}

                                <!-- Discount Badge -->
                                {% if offer_product.discount_percentage %}
                                    <div class="discount-badge position-absolute top-0 start-0 bg-danger text-white px-2 py-1 small" style="font-family: 'Roboto', sans-serif;">
                                        {{ offer_product.discount_percentage|floatformat:0 }}% off
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Product Details -->
                            <div class="p-2">
                                <h5 class="text-center mb-3" style="font-family: 'Roboto', sans-serif;">
                                    {{ offer_product.product.title }}
                                    <span class="">- {{ offer_product.variant.weight|format_weight }} kg</span>
                                </h5>

                                <div class="d-flex flex-column align-items-center" class="text-center mb-3" style="font-family: 'Roboto', sans-serif;">
                                    {% if offer_product.base_price %}
                                        <h6 class="text-danger mb-1" class="text-center" style="font-family: 'Roboto', sans-serif;">
                                            <i class="bi bi-currency-rupee"></i>{{ offer_product.discounted_price|floatformat:2 }}
                                        </h6>

                                        <h6 class="text-muted text-decoration-line-through mb-2" class="text-center mb-3" style="font-family: 'Roboto', sans-serif;">
                                            <i class="bi bi-currency-rupee"></i>{{ offer_product.base_price|floatformat:2 }}
                                        </h6>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Star Rating -->
                            <div class="rating p-1">
                                {% for i in "12345" %}
                                    {% if forloop.counter <= product.product.average_rating|default:0 %}
                                        <i class="fas fa-star text-warning"></i>
                                    {% else %}
                                        <i class="far fa-star text-muted"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#offerCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#offerCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


  

<!-- Combo Deals Section -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center mx-auto" style="max-width: 500px;">
            <h1 class="display-6 fw-bold text-muted">Combo Deals</h1>
        </div>
        <div class="row g-4">
            {% for combo in recent_combo %}
            <div class="col-6 col-lg-4 col-md-6">
                <div class="store-item card shadow-lg p-3 bg-light rounded h-100 text-center">
                    <div class="image-container">
                        {% if combo.combo_image %}
                            <img class="img-fluid" src="{{ combo.combo_image.url }}" alt="{{ combo.title }}">
                        {% else %}
                            <img class="img-fluid" src="{% static 'default-image.jpg' %}" alt="No Image Available">
                        {% endif %}
                    </div>
                    <div class="p-4">
                        <h4 class="mb-3">{{ combo.title }}</h4>
                        <h4 class="fw-bold">Rs.{{ combo.price }}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Categories Section -->
{% for category, products in categorized_products.items %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center mx-auto" style="max-width: 500px;">
            <h1 class="fw-bold text-muted" style="font-family: 'Roboto', sans-serif; font-size: 1.8rem;">
                {{ category }}
            </h1>
        </div>
        <div class="row g-4">
            {% for product_data in products %}
                <div class="col-6 col-lg-4 col-md-6">
                    <div class="store-item card shadow-lg p-3 bg-light rounded  text-center">
                        <div class="image-container position-relative">
                            {% if product_data.product.product_image %}
                                <img class="img-fluid" src="{{ product_data.product.product_image.url }}" alt="{{ product_data.product.title }}" />
                            {% else %}
                                <img class="img-fluid" src="{% static 'default-image.jpg' %}" alt="No Image Available">
                            {% endif %}

                            {% for variant_data in product_data.variants %}
                                {% if variant_data.discounted_price %}
                                    <div class="discount-badge position-absolute top-0 start-0 bg-danger text-white px-2 py-1 small">
                                        {{ variant_data.discount_percentage|floatformat:0 }}% OFF
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            <h5 class="mt-1" style="font-family: 'Roboto', sans-serif;">
                                {{ product_data.product.title }}
                                {% if product_data.variants %}
                                    {% with product_data.variants.0 as first_variant %}
                                        - {{ first_variant.variant.weight|format_weight }}
                                    {% endwith %}
                                {% endif %}
                            </h5>
                            <p>{{ product_data.product.description|truncatechars:100 }}</p>

                            {% for variant_data in product_data.variants %}
                                {% if variant_data.discounted_price %}
                                    <h6 class="text-danger mb-1" style="font-family: 'Roboto', sans-serif;">
                                        <i class="bi bi-currency-rupee"></i>{{ variant_data.discounted_price|floatformat:2 }}
                                    </h6>
                                    <h6 class="text-muted text-decoration-line-through mb-2" style="font-family: 'Roboto', sans-serif;">
                                        <i class="bi bi-currency-rupee"></i>{{ variant_data.base_price|floatformat:2 }}
                                    </h6>
                                {% else %}
                                    <h6 class="mb-2" style="font-family: 'Roboto', sans-serif;">
                                        <i class="bi bi-currency-rupee"></i>{{ variant_data.base_price|floatformat:2 }}
                                    </h6>
                                {% endif %}
                            {% endfor %}
                            
                            <p class="text-muted">Available {{ product_data.product.stock }} Packets</p>
                            <div class="d-flex justify-content-center gap-3">
                                <form method="POST" action="{% url 'add_to_cart' product_data.product.slug %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary mt-3">Add to Cart</button>
                                </form>
                                <form method="POST" action="{% url 'buy_now' product_data.product.slug %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product_data.product.id }}">
                                    <input type="hidden" name="quantity" value="1">
                                    <button type="submit" class="btn btn-success mt-3">Buy Now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center mt-5">
           
            {% if products.0.category_slug %}
            <a href="{% url 'view-products' products.0.category_slug %}" class="btn btn-primary rounded-pill py-3 px-5">
                View More <i class="fa fa-arrow-right ms-2"></i>
            </a>
        {% endif %}
            
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
